.container
{
    display:grid;
    background-color: aqua;
    grid-template-columns: repeat(3,1fr);
    gap:20px;
}
.item
{
    background-color: azure;
    padding:10px;
text-align: center;
border:2px solid black;
}
body{
    margin:20px;
}
@media(max-width:425px)
{
    .container
{
    grid-template-columns: repeat(2,1fr);
   
}
}

@media(min-width:768px)
{
    .container
{
    grid-template-columns: repeat(3,1fr);
   
}
}